<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="yahooTest">
  <test name="yahooAppTest">
  <parameter name="url" value="https://login.yahoo.com"/> 
  <parameter name="username" value="kabir"/> 
    <classes>
      <class name="com.testng.ParamTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
